<div class="container">
  <p class="title">Sort by</p>
  <div class="sort-items">
    <button
      mat-raised-button
      (click)="sortBy('title')"
      class="paginator-button"
    >
      Title
    </button>
  </div>
  <div class="sort-items">
    <button
      mat-raised-button
      (click)="sortBy('description')"
      class="paginator-button"
    >
      Description
    </button>
  </div>
  <div class="sort-items">
    <button
      mat-raised-button
      (click)="sortBy('price')"
      class="paginator-button"
    >
      Price
    </button>
  </div>
  <div class="sort-items">
    <button
      mat-raised-button
      (click)="sortBy('email')"
      class="paginator-button"
    >
      Email
    </button>
  </div>
</div>
