<div class="container">
  <mat-form-field class="input">
    <mat-label>Title</mat-label>
    <input
      #titleInput
      matInput
      (keyup)="setFilters('title', titleInput.value)"
    />
  </mat-form-field>
</div>
<div class="container">
  <mat-form-field class="input">
    <mat-label>Description</mat-label>
    <input
      #descriptionValue
      matInput
      (keyup)="setFilters('description', descriptionValue.value)"
    />
  </mat-form-field>
</div>
<div class="container">
  <mat-form-field class="input">
    <mat-label>Price</mat-label>
    <input
      #priceValue
      matInput
      (keyup)="setFilters('price', priceValue.value)"
    />
  </mat-form-field>
</div>
<div class="container">
  <mat-form-field class="input">
    <mat-label>Email</mat-label>
    <input
      #emailValue
      matInput
      (keyup)="setFilters('email', emailValue.value)"
    />
  </mat-form-field>
</div>
<div class="paginator">
  <button (click)="loadMore()" class="paginator-button">
    Load more
  </button>
</div>
