@import "../../../styles/colors.scss";

.container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sort-button {
  margin-left: 15px;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: $grey-light;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: $main;
}

::ng-deep .mat-input-element {
  caret-color: $grey-light;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: $grey-light;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $grey-light;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: $main;
}

::ng-deep .mat-form-field {
  width: 110px;
}

.paginator {
  margin: 20px 0 10px 0;
}

::ng-deep .mat-raised-button {
  background-color: $main;
}
