::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: #aeaeae;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #c8e6c9;
}

::ng-deep .mat-input-element {
  caret-color: #aeaeae;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #aeaeae;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #aeaeae;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: #c8e6c9;
}
