<div class="container">
  <mat-form-field class="input">
    <mat-label>Title</mat-label>
    <input
      #titleInput
      matInput
      (keyup)="setFilters(FILTERS_KEYS.TITLE, titleInput.value)"
    />
  </mat-form-field>
  <app-sort class="sort-button" [sortItem]="'title'"></app-sort>
</div>
<div class="container">
  <mat-form-field class="input">
    <mat-label>Description</mat-label>
    <input
      #descriptionValue
      matInput
      (keyup)="setFilters(FILTERS_KEYS.DESCRIPTION, descriptionValue.value)"
    />
  </mat-form-field>
  <app-sort class="sort-button" [sortItem]="'description'"></app-sort>
</div>
<div class="container">
  <mat-form-field class="input">
    <mat-label>Price</mat-label>
    <input
      #priceValue
      matInput
      (keyup)="setFilters(FILTERS_KEYS.PRICE, priceValue.value)"
    />
  </mat-form-field>
  <app-sort class="sort-button" [sortItem]="'price'"></app-sort>
</div>
<div class="container">
  <mat-form-field class="input">
    <mat-label>Email</mat-label>
    <input
      #emailValue
      matInput
      (keyup)="setFilters(FILTERS_KEYS.EMAIL, emailValue.value)"
    />
  </mat-form-field>
  <app-sort class="sort-button" [sortItem]="'email'"></app-sort>
</div>
<div class="paginator">
  <button mat-raised-button (click)="openDialog()" class="paginator-button">
    Favourites
  </button>
</div>
<div class="paginator">
  <button mat-raised-button (click)="loadMore()" class="paginator-button">
    Load more
  </button>
</div>
