<div class="container">
  <div class="loader" *ngIf="getIsLoading(); else isNotLoading">
    <app-loading></app-loading>
  </div>
  <ng-template #isNotLoading>
    <div
      class="product-list"
      *ngIf="filteredList.length === 0; else productList"
    >
      <img
        class="no-results-image"
        src="../../../assets/image_no_results.png"
      />
      <p class="no-results-text">No results</p>
    </div>
    <ng-template #productList>
      <app-product
        *ngFor="let product of filteredList"
        [product]="product"
        [fav]="favouriteList[product.id]"
        (favourited)="setFavourite($event)"
      ></app-product>
    </ng-template>
    <app-favourites-modal
      *ngIf="getIsOpenModal()"
      [products]="getFavourites()"
      (favourited)="setFavourite($event)"
    ></app-favourites-modal>
  </ng-template>
</div>
