/* You can add global styles to this file, and also import other style files */
@import "../src/styles/colours.scss";

html,
body {
  height: 100%;
  background-color: $main;
  font-family: "Spartan" !important;
  //Added this rule to overwrite the prop font of material.
  color: $grey-dark;
}
body {
  margin: 0;
}
