/* You can add global styles to this file, and also import other style files */
@import "../src/styles/colors.scss";

html,
body {
  height: 100%;
  background-color: $main;
  // font-family: "Spartan" !important;
  color: $grey-dark;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
